@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.main {
    width: 100%;
    height: 100vh;
    background: url(/img/eagle.png) no-repeat;
    background-size: cover;
    position: relative;
}

.main::before {
    position: absolute;
    content: "";
    background: linear-gradient(rgba(233, 130, 131, 0.9),rgba(237, 215, 137, 0.9));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 42px 170px 0;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 75px;
}

.navigation ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.navigation ul li:first-of-type {
    color: #F4BF87;
    border-bottom: 1px solid #F4BF87;
    width: 85px;
    text-align: center;
}

.main-wrapper {
    position: absolute;
    z-index: 10;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title p {
    font-family: 'Kaushan Script', sans-serif;   
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 77px;

}
.main-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 44px;
}

.main-l {
    width: 170px;
    border-bottom: 4px solid #fff;
    margin-bottom: 72px;
}

.main-button {
    height: 80px;
    width: 370px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 116px;
}

.main-slider {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-slider-in {
    display: flex;
    justify-content: space-between;
}

.main-slider-item {
    font-family: 'Raleway', sans-serif;
    width: 23%;
    padding: 20px 0;
    position: relative;
    border-top: 4px solid #F9EFCF;
    opacity: 0.7;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
}

.main-slider-item-act {
    opacity: 1;
}

.main-slider-item-act::before {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: #F38281;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 1;
}

.main-slider-number {
    font-size: 36px;
    font-weight: 700;
}

.story {
    padding:80px 0;
    height: 100vh;
}

.story-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
    color: #2D3033;
}

.story-title-one {
    font-family: 'Kaushan Script', sans-serif;   
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

.story-title-two {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
.story-title-two::after {
    content: "";
    display: block;
    width: 170px;
    height: 4px;
    background-color: #F38281;
    margin: 50px auto;
}

.story-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 90px;
    color: #000000;
}

.story-about {
    display: flex;
    justify-content: space-between;
}

.about-item {
    width: 370px;
    background-color: #95E1D3;
    position: relative;
}

.about-item:hover .about-image {
    transform: translate3d(-10px, -10px, 0);
}

.about-item:hover .about-image img {
    opacity: 0.1;
}

.about-image {
    background: linear-gradient(to bottom, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    transition: transform 0.1s linear;
}

.about-image img {
    display: block;
    transition: opacity 0.1s linear;
}

.about-item:hover .about-text {
    opacity: 1;
}

.about-text {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}

.statictics {
    background-color: #95E1D3;
}

.stat {
    display: flex;
}

.stat-item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #FFFFFF;
    text-align: center;
    color:#FFFFFF;
}

.stat-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.stat-number {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
}

.stat-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}








